.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pac-container {
  background-color: #061252;
  font-family: "BPG Nino Mtavruli";
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
 }
 .pac-item, .pac-item-query {
  font-size: 14px;
  color: #f7f7f7;
 }

 .pac-item:hover {
  background: #F6B60D;
  cursor: pointer;
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
