
@font-face {
  font-family: "BPG Nino Mtavruli";   /*Can be any text*/
  src: local("BPG Nino Mtavruli"),
    url("./fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

.bpg-mtavruli {
  font-family: "BPG Nino Mtavruli";
}

@tailwind base;
@tailwind components;
@tailwind utilities;
